In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../Landing/order_items/order_items.csv')

### Check for nulls

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4763 entries, 0 to 4762
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   order_id    4763 non-null   int64
 1   item_id     4763 non-null   object
 2   product_id  4763 non-null   int64
 3   quantity    4763 non-null   int64
 4   list_price  4763 non-null   float64
 5   discount    4763 non-null   float64
 6   timestamp   4763 non-null   object
 7   source      4763 non-null   object
dtypes: float64(2), int64(3), object(3)
memory usage: 297.8+ KB

In [52]:
df.count()

order_id      4760
item_id       4760
product_id    4760
quantity      4760
list_price    4760
discount      4760
timestamp     4760
source        4760
dtype: int64

#### No Nulls found

#### Filter the price Range

In [53]:
df.list_price.describe()

count      4760.000000
mean       1443.885174
std        5014.606014
min          89.990000
25%         429.000000
50%         599.990000
75%        1549.000000
max      259999.000000
Name: list_price, dtype: float64

In [54]:
df = df[(df['list_price'] >= 200) & (df['list_price'] <= 10000)]

In [55]:
df.list_price.describe()

count    4635.000000
mean     1232.944006
std      1334.459095
min       209.990000
25%       429.990000
50%       599.990000
75%      1549.000000
max      7499.990000
Name: list_price, dtype: float64

#### Check Item ID

In [56]:
df[['order_id', 'item_id', 'product_id']].duplicated().any()

True

In [71]:
df = df[~df[['order_id', 'item_id', 'product_id']].duplicated()]

In [64]:
df[['order_id', 'item_id', 'product_id']].duplicated().any()

False

#### Handle non integer item ids

In [4]:
df.tail()

,order_id,item_id,product_id,quantity,list_price,discount,timestamp,source
4758,1615,17,214,1,899.99,0.07,2024-04-28 18:26:15.337129,Database
4759,1615,9,182,1,2499.99,0.20,2024-04-28 18:26:15.337129,Database
4760,1615,sz258l,197,2,2299.99,0.20,2024-04-28 18:26:15.337129,Database
4761,1615,sz258l,214,1,899.99,0.07,2024-04-28 18:26:15.337129,Database
4762,1615,sz2589,182,1,2499.99,0.20,2024-04-28 18:26:15.337129,Database

In [6]:
df['item_id'] = pd.to_numeric(df['item_id'], errors='coerce')
df = df.dropna(subset=['item_id'])

# Convert the column to integer
df['item_id'] = df['item_id'].astype(int)

In [7]:
df.tail()

,order_id,item_id,product_id,quantity,list_price,discount,timestamp,source
4755,1615,60,182,1,2499.99,0.20,2024-04-28 18:26:15.337129,Database
4756,1614,14,213,2,269.99,0.20,2024-04-28 18:26:15.337129,Database
4757,1615,22,197,2,2299.99,0.20,2024-04-28 18:26:15.337129,Database
4758,1615,17,214,1,899.99,0.07,2024-04-28 18:26:15.337129,Database
4759,1615,9,182,1,2499.99,0.20,2024-04-28 18:26:15.337129,Database

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4760 entries, 0 to 4759
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   order_id    4760 non-null   int64
 1   item_id     4760 non-null   int32
 2   product_id  4760 non-null   int64
 3   quantity    4760 non-null   int64
 4   list_price  4760 non-null   float64
 5   discount    4760 non-null   float64
 6   timestamp   4760 non-null   object
 7   source      4760 non-null   object
dtypes: float64(2), int32(1), int64(3), object(2)
memory usage: 316.1+ KB

#### Check availability of item id

In [72]:
df2 = pd.read_csv('../Landing/products/products.csv')

In [73]:
df = df[df.item_id.isin(df2.product_id)]

In [74]:
df.count()

order_id      4726
item_id       4726
product_id    4726
quantity      4726
list_price    4726
discount      4726
timestamp     4726
source        4726
dtype: int64

#### Save to staging

In [11]:
# Create the staging directory
import os
directory_path = '../staging_1'

# Create the directory if it does not exist
os.makedirs(directory_path, exist_ok=True)
os.makedirs(f"{directory_path}/order_items", exist_ok=True)
df.to_csv("../staging_1/order_items/order_items.csv", index=False)

<hr>