In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../Landing/stores/stores.csv')

### Check for nulls

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  3 non-null      int64
 1   store_id    3 non-null      int64
 2   store_name  3 non-null      object
 3   phone       3 non-null      object
 4   email       2 non-null      object
 5   street      3 non-null      object
 6   city        3 non-null      object
 7   state       3 non-null      object
 8   zip_code    2 non-null      float64
 9   timestamp   3 non-null      object
 10  source      3 non-null      object
dtypes: float64(1), int64(2), object(8)
memory usage: 392.0+ bytes

In [4]:
df.count()

Unnamed: 0    3
store_id      3
store_name    3
phone         3
email         2
street        3
city          3
state         3
zip_code      2
timestamp     3
source        3
dtype: int64

#### No Nulls found

In [5]:
df

,Unnamed: 0,store_id,store_name,phone,email,street,city,state,zip_code,timestamp,source
0,0,1,Santa Cruz Bikes,(831) 476-4321,NaN,3700 Portola Drive,Santa Cruz,CA,NaN,2024-04-28 17:44:44.839659,DataLake
1,1,2,Baldwin Bikes,(516) 379-8888,baldwin@bikes.shop,4200 Chestnut Lane,Baldwin,NY,11432.0,2024-04-28 17:44:44.839659,DataLake
2,2,3,Rowlett Bikes,(972) 530-5555,rowlett@bikes.shop,8000 Fairway Avenue,Rowlett,TX,75088.0,2024-04-28 17:44:44.839659,DataLake

In [6]:
df.store_id.duplicated().any()

False

#### No duplicates in any columns

#### Save To Staging

In [7]:
# Create the staging directory
import os
directory_path = '../staging_1'

# Create the directory if it does not exist
os.makedirs(directory_path, exist_ok=True)
os.makedirs(f"{directory_path}/stores", exist_ok=True)
df.to_csv("../staging_1/stores/stores.csv", index=False)

<hr>