In [1]:
import pandas as pd
import os
import numpy as np

### Check for late Delivery

**The shipped date are missing for some rows, and for those we will consider the late delivery, latency, and weekend missing as well**

In [2]:
orders = pd.read_csv('../staging_1/orders/orders.csv')

In [3]:
orders.head(1)

,order_id,customer_id,order_status,order_date,required_date,shipped_date,store_id,staff_id,timestamp,source
0,1,259,4,2016-01-01,2016-01-03,2016-01-03,1,2,2024-04-28 18:26:13.902926,Database

In [4]:
orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1604 entries, 0 to 1603
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   order_id       1604 non-null   int64
 1   customer_id    1604 non-null   int64
 2   order_status   1604 non-null   int64
 3   order_date     1604 non-null   object
 4   required_date  1604 non-null   object
 5   shipped_date   1434 non-null   object
 6   store_id       1604 non-null   int64
 7   staff_id       1604 non-null   int64
 8   timestamp      1604 non-null   object
 9   source         1604 non-null   object
dtypes: int64(5), object(5)
memory usage: 125.4+ KB

In [5]:
# Convert date columns to datetime format
orders['required_date'] = pd.to_datetime(orders['required_date'], errors='coerce')
orders['shipped_date'] = pd.to_datetime(orders['shipped_date'], errors='coerce')
# Add 'late_delivery' column
orders['late_delivery'] = orders['shipped_date'] > orders['required_date']

In [6]:
len(orders[orders['shipped_date'].isna()])

172

In [7]:
# Set late delivery to Nan when the shipped date is not available
orders.loc[orders['shipped_date'].isna(), 'late_delivery'] = np.nan

C:\Users\alghaly\AppData\Local\Temp\ipykernel_25436\717394108.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'nan' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  orders.loc[orders['shipped_date'].isna(), 'late_delivery'] = np.nan

In [8]:
orders[orders['shipped_date'].isna()].head()

,order_id,customer_id,order_status,order_date,required_date,shipped_date,store_id,staff_id,timestamp,source,late_delivery
62,70,50,3,2016-02-11,2016-02-11,NaT,3,9,2024-04-28 18:26:13.902926,Database,NaN
68,76,9,3,2016-02-16,2016-02-16,NaT,2,6,2024-04-28 18:26:13.902926,Database,NaN
150,158,117,3,2016-04-04,2016-04-04,NaT,3,9,2024-04-28 18:26:13.902926,Database,NaN
177,185,24,3,2016-04-20,2016-04-20,NaT,1,2,2024-04-28 18:26:13.902926,Database,NaN
231,239,13,3,2016-05-27,2016-05-27,NaT,3,9,2024-04-28 18:26:13.902926,Database,NaN

### Add latency Days

In [9]:
def calculate_latency(row):
    if row.late_delivery:
        return (row.shipped_date - row.required_date).days
    else:
        return np.nan

# Apply the function to create the 'latency_days' column
orders['latency_days'] = orders.apply(calculate_latency, axis=1)

In [10]:
orders.head(1)

,order_id,customer_id,order_status,order_date,required_date,shipped_date,store_id,staff_id,timestamp,source,late_delivery,latency_days
0,1,259,4,2016-01-01,2016-01-03,2016-01-03,1,2,2024-04-28 18:26:13.902926,Database,False,NaN

### Add a weekend column

In [11]:
orders['weekend'] = orders.shipped_date.apply(lambda x: x.day_name() in ('Sunday', 'Monday'))
# Set weekend to Nan when the shipped date is not available
orders.loc[orders['shipped_date'].isna(), 'weekend'] = np.nan

C:\Users\alghaly\AppData\Local\Temp\ipykernel_25436\3128609993.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'nan' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  orders.loc[orders['shipped_date'].isna(), 'weekend'] = np.nan

In [12]:
orders.head()

,order_id,customer_id,order_status,order_date,required_date,shipped_date,store_id,staff_id,timestamp,source,late_delivery,latency_days,weekend
0,1,259,4,2016-01-01,2016-01-03,2016-01-03,1,2,2024-04-28 18:26:13.902926,Database,False,NaN,True
1,2,1212,4,2016-01-01,2016-01-04,2016-01-03,2,6,2024-04-28 18:26:13.902926,Database,False,NaN,True
2,3,523,4,2016-01-02,2016-01-05,2016-01-03,2,7,2024-04-28 18:26:13.902926,Database,False,NaN,True
3,4,175,4,2016-01-03,2016-01-04,2016-01-05,1,3,2024-04-28 18:26:13.902926,Database,True,1.0,False
4,5,1324,4,2016-01-03,2016-01-06,2016-01-06,2,6,2024-04-28 18:26:13.902926,Database,False,NaN,False

**Save the transformed data into staging_2**

In [13]:
# Create the staging directory
import os
directory_path = '../staging_2'

# Create the directory if it does not exist
os.makedirs(directory_path, exist_ok=True)
os.makedirs(f"{directory_path}/orders", exist_ok=True)
orders.to_csv("../staging_2/orders/orders.csv", index=False)