In [1]:
import pandas as pd
import os

In [2]:
orders = pd.read_csv('../staging_2/orders/orders.csv')
items = pd.read_csv('../staging_2/order_items/order_items.csv')
products = pd.read_csv('../staging_2/products/products.csv')

In [3]:
orders.head(1)

,order_id,customer_id,order_status,order_date,required_date,shipped_date,store_id,staff_id,timestamp,source,late_delivery,latency_days,weekend
0,1,259,4,2016-01-01,2016-01-03,2016-01-03,1,2,2024-04-28 18:26:13.902926,Database,False,NaN,True

In [4]:
items.head(1)

,order_id,item_id,product_id,quantity,list_price,discount,timestamp,source,Exchange Rate,list_price_egp
0,1,1,20,1,599.99,0.2,2024-04-28 18:26:15.337129,Database,47.861515,28716.430385

In [5]:
products.head(1)

,Unnamed: 0,product_id,product_name,brand_id,category_id,model_year,list_price,timestamp,source
0,0,1,Trek 820 - 2016,9,6,2016,379.99,2024-04-28 17:44:44.813359,DataLake

Merge the 3 dataframes

In [6]:
df = items.merge(orders, left_on='order_id', right_on='order_id', how = 'inner')

In [7]:
df = df.merge(products, left_on='product_id', right_on='product_id', how = 'inner')

In [8]:
# Create the staging directory
import os
directory_path = '../Information Mart'

# Create the directory if it does not exist
os.makedirs(directory_path, exist_ok=True)
os.makedirs(f"{directory_path}/orders_products_details", exist_ok=True)
df.to_csv("../Information Mart/orders_products_details/orders_products_details.csv", index=False)