In [1]:
import pandas as pd
import os
import numpy as np

### Check for late Delivery

In [2]:
customers = pd.read_csv('../staging_1/customers/customers.csv')
stores = pd.read_csv('../staging_1/stores/stores.csv')

In [3]:
customers.head(1)

,Unnamed: 0,customer_id,first_name,last_name,phone,email,street,city,state,zip_code,timestamp,source
0,0,1,Debra,Burks,NaN,debra.burks@yahoo.com,9273 Thorne Ave.,Orchard Park,NY,14127,2024-04-28 17:44:44.788633,DataLake

In [4]:
stores.head()

,Unnamed: 0,store_id,store_name,phone,email,street,city,state,zip_code,timestamp,source
0,0,1,Santa Cruz Bikes,(831) 476-4321,NaN,3700 Portola Drive,Santa Cruz,CA,NaN,2024-04-28 17:44:44.839659,DataLake
1,1,2,Baldwin Bikes,(516) 379-8888,baldwin@bikes.shop,4200 Chestnut Lane,Baldwin,NY,11432.0,2024-04-28 17:44:44.839659,DataLake
2,2,3,Rowlett Bikes,(972) 530-5555,rowlett@bikes.shop,8000 Fairway Avenue,Rowlett,TX,75088.0,2024-04-28 17:44:44.839659,DataLake

In [5]:
customers['local'] = customers.city.isin(stores.city)

In [6]:
stores.city

0    Santa Cruz
1       Baldwin
2       Rowlett
Name: city, dtype: object

Check

In [7]:
customers[customers.local][['city', 'local']].drop_duplicates()

           city  local
67      Rowlett   True
78      Baldwin   True
193  Santa Cruz   True

**Save the transformed data into staging_2**

In [9]:
# Create the staging directory
import os
directory_path = '../staging_2'

# Create the directory if it does not exist
os.makedirs(directory_path, exist_ok=True)
os.makedirs(f"{directory_path}/customers", exist_ok=True)
customers.to_csv("../staging_2/customers/customers.csv", index=False)