In [23]:
import pandas as pd
import os
import numpy as np

### Add List Price in EGP

In [13]:
order_items = pd.read_csv('../staging_1/order_items/order_items.csv')
rates = pd.read_csv('../landing/exchange.csv')

In [14]:
order_items.head(1)

,order_id,item_id,product_id,quantity,list_price,discount,timestamp,source
0,1,1,20,1,599.99,0.2,2024-04-28 18:26:15.337129,Database

In [15]:
rates.head(1)

       Value            Timestamp Sourc                   timestamp    source
0  47.861515  2024-04-28 14:00:14   API  2024-04-30 10:11:51.112186  DataLake

**Filter on latest rate => In typical cases I will group by currency and keep only max date for each <br>As we have a single currency this is not needed we just get it's latest**

In [16]:
rates.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Value      1 non-null      float64
 1   Timestamp  1 non-null      object
 2   Sourc      1 non-null      object
 3   timestamp  1 non-null      object
 4   source     1 non-null      object
dtypes: float64(1), object(4)
memory usage: 168.0+ bytes

**We have 2 timestamps:<br>
One for the API Call and one for loading the exchange rates file from source.<br>
I will rename them in the pipeline**

In [17]:
rates = rates.rename(columns={
                    'Value': 'Exchange Rate',
                    'Timestamp': 'API Call Timestamp',
                    'timestamp': 'Data Load Timestamp'})

In [18]:
rates['API Call Timestamp'] = pd.to_datetime(rates['API Call Timestamp'])

# Sort the DataFrame by the 'Date' column in descending order
rates = rates.sort_values(by='API Call Timestamp', ascending=False)

# Select the first row (the row with the newest date)
rates = rates.head()

In [19]:
# Cross Join the 2 tables
order_items['_join_key'] = 1
rates['_join_key'] = 1
df = pd.merge(order_items, rates[['Exchange Rate', '_join_key']],
                  on='_join_key').drop('_join_key', axis=1)

In [20]:
df['list_price_egp'] = df.list_price * df['Exchange Rate']

In [21]:
df.head(1)

,order_id,item_id,product_id,quantity,list_price,discount,timestamp,source,Exchange Rate,list_price_egp
0,1,1,20,1,599.99,0.2,2024-04-28 18:26:15.337129,Database,47.861515,28716.430385

**Save the transformed data into staging_2**

In [22]:
# Create the staging directory
import os
directory_path = '../staging_2'

# Create the directory if it does not exist
os.makedirs(directory_path, exist_ok=True)
os.makedirs(f"{directory_path}/order_items", exist_ok=True)
df.to_csv("../staging_2/order_items/order_items.csv", index=False)